.profileLayout {
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.85px;
}

.container {
  display: grid;
  row-gap: 20px;

  section {
    width: 100%;
  }
}

.linkButtons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .container {
    grid-template-columns: 350px 1fr;
    column-gap: 20px;
    place-items: start;
    margin-top: 20px;
  }

  .linkButtons {
    flex-direction: column;
    row-gap: 20px;
  }
}
