.job {
  background-color: #f4f4f6;
  padding: 50px 80px;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.jobCategories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 10px;
  max-width: 800px;
  margin: auto;
}

.jobsListActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 1200px;
  margin: 40px auto 0;
}

.viewAllJobsLink {
  color: #1d2445;
  font-weight: 600;
  font-size: 18px;
}

.jobLayoutButtons {
  display: flex;
  align-items: center;
  column-gap: 14px;

  button {
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (min-width: 728px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 36px;
  }

  .jobCategories {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
}
