.jobCard {
  background-color: #fff;
  border: 1px solid rgba(29, 36, 69, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.tabs {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 15px;
}

.company {
  margin-bottom: 0;
  color: #1d2445;
  font-size: 14px;
}

.title {
  color: #1d2445;
  text-transform: capitalize;
  font-size: 20px;
}

.details {
  display: flex;
  align-items: flex-start;
  column-gap: 5px;

  p,
  span {
    color: rgba(29, 36, 69, 0.8);
    font-size: 14px;
  }
}
