.hero {
  padding: 40px;
  background-color: #f4f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topText {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid rgba(29, 36, 69, 0.15);
}

.title {
  text-align: center;
  font-size: 35px;
}

.subtitle {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}

.searchForm {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.categories {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}

.categoryTitle {
  margin-bottom: 0;
}

.categoryList {
  display: flex;
  align-items: center;
  column-gap: 10px;
  li {
    text-decoration: none;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .searchForm {
    flex-direction: row;
    column-gap: 20px;
    max-width: 550px;
  }
}
