.detailsSection {
  background-color: #fff;
  padding: 20px;
  border-radius: 14px;
}

.detailsTitle {
  font-size: 18px;
  letter-spacing: 0.8px;
}

.userDetailsForm {
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .flex {
    flex-direction: row;
    column-gap: 20px;
  }

  .submitButton {
    width: 250px;
    justify-self: end;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    font-size: 32px;
  }

  .detailsTitle {
    font-size: 24px;
  }

  .formTitle {
    font-size: 18px;
  }

  .userDetailsForm {
    flex-direction: row;
    column-gap: 20px;
  }
}
