.jobs {
  display: grid;
  row-gap: 20px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .jobs {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .jobs {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}
